"on":
  pull_request:
    types:
    - closed
name: Porter Preview Environment
jobs:
  porter-delete-preview:
    runs-on: ubuntu-latest
    steps:
    - name: Delete Porter preview env
      timeout-minutes: 30
      uses: porter-dev/porter-delete-preview-action@v0.1.0
      with:
        cluster: "35"
        host: https://dashboard.dev.getporter.dev
        installation_id: "21704327"
        namespace: pr-${{ github.event.pull_request.number }}-desafio-app
        project: "12"
        repo_name: desafio-app
        repo_owner: ${{ github.repository_owner }}
        token: ${{ secrets.PORTER_TOKEN_12 }}
